In [11]:
import matplotlib.pyplot as plt
import os
import pandas as pd
from pathlib import Path

In [103]:
path = "./outputs/client_1/2024-01-20/18-57-31"

In [104]:
date_time_format = "%Y-%m-%d %H:%M:%S"

energy = pd.read_csv(path+"/energy.csv", parse_dates=["timestamp"],date_parser=lambda x: pd.to_datetime(x, format=date_time_format))
energy["timestamp"] = energy["timestamp"].dt.round("1s")

fittimes = pd.read_csv(path+"/fittimes.csv", parse_dates=["Start Time", "End Time"],date_parser=lambda x: pd.to_datetime(x, format=date_time_format))
fitresults = pd.read_csv(path+"/fitresult.csv",parse_dates=["time"],date_parser=lambda x: pd.to_datetime(x, format=date_time_format))

In [105]:
st_rows = energy[energy["timestamp"].isin(fittimes["Start Time"])].reset_index(drop=True)
en_rows = energy[energy["timestamp"].isin(fittimes["End Time"])].reset_index(drop=True)

In [106]:
st_rows

,timestamp,RAM%,GPU%,GPU inst power,GPU avg power,CPU%,CPU inst power,CPU avg power,tot inst power,tot avg power
0,2024-01-20 18:57:58,0.062316,0.0,0.00,0.00,2.750,9.62,9.68,63.29,63.35
1,2024-01-20 18:59:01,0.100312,0.0,1.92,0.96,4.625,15.40,12.99,72.18,68.41
2,2024-01-20 18:59:52,0.100387,35.5,1.92,0.96,4.500,14.43,12.50,71.21,67.92

In [107]:
en_rows[" tot avg power"]-st_rows[" tot avg power"]

0    26.74
1    21.68
2    19.58
Name:  tot avg power, dtype: float64

In [108]:
fittimes

   Client ID  Server Round          Start Time            End Time
0          1             1 2024-01-20 18:57:58 2024-01-20 18:58:43
1          1             2 2024-01-20 18:59:01 2024-01-20 18:59:37
2          1             3 2024-01-20 18:59:52 2024-01-20 19:00:37